<!DOCTYPE html>
<html class="" style="height: auto;">

<head>
  <title>{{title}}</title>
  <!--link rel='stylesheet' href='/stylesheets/style.css' /-->
  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Favicon -->
  <link rel="icon" href="/img/small.png" />
  <link rel="apple-touch-icon" href="/img/small.png" />

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/adminlte.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="/js/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/js/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- summernote -->
  <link rel="stylesheet" href="/js/summernote/summernote-bs4.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!--link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"-->
  <!-- Fonts -->
  <link rel='stylesheet' href='/css/fonts.css'>
  <!--link href="/public/stylesheets/tt.css"-->

</head>

<body class="hold-transition sidebar-mini layout-fixed accent-indigo text-sm" style="height: auto;">
  <div class="preloader"></div>
  <div class="wrapper">

    {{>header}}
    {{>aside}}
    <div class="content-wrapper" style="min-height: 807px;">
      {{>dynamic_header}}
      {{{body}}}
    </div>
    {{>footer}}
    {{>modals}}