<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!--link rel='stylesheet' href='/stylesheets/style.css' /-->
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/adminlte.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- Fonts -->
  <link rel='stylesheet' href='/css/fonts.css'>

</head>

<body class="sidebar-mini" style="height: auto;">
<div class="wrapper">
  <div class="preloader"></div>
  {{>header}}
  {{>aside}}
      <div class="content-wrapper" style="min-height: 807px;">
        {{>dynamic_header}}
        {{{body}}}
      </div>
  {{>modals}}
  {{>footer}}
</div>
</body>

</html>