<h1 class="d-flex justify-content-center mt-3">{{head}} </h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-4" action="/add-schedule">
                <div class="form-group">
                    <label for="titles"></label>
                    <input type="text" name="titles" id="titles" class="form-control" placeholder="Title" required>
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <textarea class="form-control" name="notes" placeholder="Note" autofocus required></textarea>
                </div>
                <div class="form-group">
                    <label for="titles"></label>
                    <input type="hidden" name="completed" id="completed" value="false" class="form-control" placeholder="Title" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-light" type="submit">Save <span class="fa fa-save"></span> </button>
                </div>
            </form>
        </div>
    </div>
</div>

