<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="icon" href="/images/ronewa.svg">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/app.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/adminlte.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>

<body class="app">
    <div class="preloader"></div>
    {{{body}}}

    <!-- jQuery -->
    <script src="/js/jquery/jquery.min.js"></script>
    <!-- Preload -->
    <script src="/javascripts/preload.js"></script>
    <!-- jQuery UI -->
    <script src="/js/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.min.js"></script>

    <script>
        console.log('Client side javascript file is loaded!');
    </script>
</body>

</html>