<div class="app-title">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="">Admin</h1>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb float-sm-right list-unstyled" style="background-color:ghostwhite !important;">
                    <li class="breadcrumb-item"><a href="/users" role="button">{{title}}</a> </li>
                    <li class="breadcrumb-item">{{head}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>