<!-- Main Footer -->
<footer class="main-footer text-sm">
    <span>Copyright &copy; 2019 -
        <script>document.write(new Date().getFullYear());</script>
        <a href="#" style="text-decoration: none;" class="text-muted">Ronewa.io</a>.
    </span>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <span>Version</span> 3.0.1
    </div>
</footer>
<!--div-- id="sidebar-overlay"></div-->
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- Preload -->
<script src="/javascripts/preload.js"></script>
<!-- jQuery UI -->
<script src="/js/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap -->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- Moment -->
<script src="/js/moment/moment.min.js"></script>
<script src="/js/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<!-- date-range-picker -->
<script src="/js/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/js/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="/js/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<!--script src="/js/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script-->
<!-- AdminLTE -->
<script src="/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<!--script src="/js/demo.js"></script-->



<script src="/javascripts/complete.js"></script>
<script src="/javascripts/costume.js"></script>

<!-- DatePicker -->
<script>
    $(function () {
        $("#end_date").datepicker();
        $("#start_date").datepicker();
        $("#dates").datepicker();

        $("[data-mask]").inputmask();
        //Add text editor
        $('#compose-textarea').summernote();

        //Date range picker
        $('#reservationdate').datetimepicker({
            format: 'L'
        });
        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'MM/DD/YYYY hh:mm A'
            }
        });
        $("#sent_hide").hide();
        $("#inbox_hide").hide();

        $("#sent_click").click(()=>{
            $("#inbox_hide").hide();
            console.log("sent_hide clicked");
            $("#sent_hide").show();
        });
        $("#inbox_click").click(()=>{
            $("#sent_hide").hide();
            console.log("inbox_hide clicked");
            $("#inbox_hide").show();
        });
    });
</script>
</body>

</html>