<!-- Main Footer -->
<footer class="main-footer">
		<span>Copyright &copy; 2019 -
            <script>document.write(new Date().getFullYear());</script>
            <a href="#" style="text-decoration: none;">Ronewa.io</a>.
        </span>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.1
    </div>
</footer>
<div id="sidebar-overlay"></div>
<!--/div-->
<!-- ./wrapper -->


<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/js/jquery.min.js.download"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap.bundle.min.js.download"></script>
<!-- AdminLTE -->
<script src="/js/adminlte.js.download"></script>
<!-- Moment -->
<script src="/js/moment/moment.min.js"></script>
<!-- Preload -->
<script src="/javascripts/preload.js"></script>
<script src="/javascripts/complete.js"></script>
<script src="/javascripts/costume.js"></script>