<header class="app-header">
    <a href="/" class="app-navbrand">{{title}}</a>
    <a href="#" class="app-header-toggle">
        <i class="fa fa-bars"></i>
    </a>
    <ul class="app-nav ml-auto">
        <li class="app-search-list">
            <input type="search" class="app-search-input" placeholder="Search">
            <button class="app-search-button">
                <i class="fa fa-search"></i>
            </button>
        </li>
        <li class="dropdown app-user">
            <a href="#" data-toggle="dropdown" class="user">
                <i class="fa fa-user"></i>
            </a>
            <ul class="dropdown-menu settings-menu dropdown-menu-right">
                <li><a class="dropdown-item" href=""><i class="fa fa-user"></i> Profile</a></li>
                <li><a class="dropdown-item" href=""><i class="fa fa-cog"></i> Settings</a></li>
                <li><a class="dropdown-item" href=""><i class="fa fa-sign-out-alt"></i> Log out</a></li>
            </ul>
        </li>
    </ul>
    </ul>
</header>