<div class="modal fade" id="modals" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Schedule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" class="" action="/users/add-schedule">
                    {{#id}}
                    <div class="form-group">
                        <input type="hidden" name="id" id="IdUser" value="{{_id}}" class="form-control"
                            placeholder="IdUser" required>
                    </div>
                    {{/id}}

                    <div class="form-group">
                        <input type="hidden" name="completed" id="completed" value="false" class="form-control"
                            placeholder="Title" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="titles" id="titles" class="form-control" placeholder="Title" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="notes" placeholder="Note" autofocus required></textarea>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <input class="form-control" id="start_date" placeholder="Start Date" name="start_date"
                                    type="text" required>
                            </div>
                            <div class="col">
                                <input class="form-control" id="end_date" placeholder="End Date" name="end_date"
                                    type="text" required>
                            </div>
                        </div>
                    </div>
                    <!-- phone mask -->
                    <div class="form-group">
                        <label class="text-muted">RSA Code:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->

                    <!-- Date range -->
                    <div class="form-group">
                        <label class="text-muted">Date range:</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control float-right" id="reservation">
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->

                    <div class="form-group">
                        <button class="btn btn-light" type="submit">Save <span class="fa fa-save"></span> </button>
                        <button class="btn btn-reset float-right" type="reset">Clear <span
                                class="fa fa-sync-alt"></span> </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal task/schedule -->
<div class="modal fade" id="modal-info">
    <div class="modal-dialog">
        <div class="modal-content bg-info">
            <div class="modal-header">
                <h4 class="modal-title">Info Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-light">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal profile -->

<!-- modal compose -->
<div class="modal fade" id="modal-compose" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-title">New Message</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" placeholder="To:">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Subject:">
                </div>
                <div class="form-group">
                    <textarea id="compose-textarea" class="form-control" style="height: 600px">
                        <div class="mb-3">
                            <p>Enter your message here</p>
                        </div>
                      <p class="disabled mt-5">Thank you,</p>
                      <p class="text-capitalize disabled mb-0">{{dd}}</p>
                    </textarea>
                </div>
                <div class="form-group">
                    <div class="btn btn-default btn-file">
                        <i class="fas fa-paperclip"></i> Attachment
                        <input type="file" name="attachment">
                    </div>
                    <p class="help-block">Max. 32MB</p>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> Discard</button>
                <div class="float-right">
                    <button type="button" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Draft</button>
                    <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Send</button>
                </div>
            </div>
        </div>
    </div>
</div>