.app-aside{
  top: 0;
  left: 0;
  bottom:0;
  padding-top:70px;
  position: fixed;
  overflow: auto;
  z-index: 10;
  background: lighten(#0c5460, 25%);
  box-shadow: 0px 8px 17px rgba(0,0,0,.2);
  transition: left 0.3s ease,
  width 0.3s ease;
}
.app-aside.aside_minimise{
  width: 53px !important;
  transition: left 0.4s ease,
  width 0.4s ease;
}
.aside_span .lead_info.aside_lead_hide{
  display: none;
}
.app-sidebar_toggle{
  color: #fff;
  transform: background-color 0.3s ease;
  &:focus,
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}
.aside_span{
  margin-top:5px;
  margin-bottom: 5px;
}
@media (max-width:480px) {
  .app-aside{
    left: -530px;
    transition: all 0.3s ease,
    width 0.3s ease;
  }
  .app.app-slidebar-toggled .app-aside{
    margin-left: 530px;
    width: 180px;
    transition: all 0.3s ease,
    width 0.3s ease;
  }
}
