.btn-light{
  background: lighten(orange,15%) !important;
  border-radius: 12px 0 12px 0;
  color: white;
  &:hover{
    color: white;
  }
  &:active{
    color: white;
  }
}
.btn-reset{
  background: lighten(tomato,15%) !important;
  border-radius: 0px 12px 0px 12px;
  color: white;
  &:hover{
    color: white;
  }
  &:active{
    color: white;
  }
}
.navbar-toggler{
  border-radius: 6px;
  color: ghostwhite !important;
  background: ghostwhite !important;
}
/*.radio:hover{
  cursor: pointer;
}*/
.delete,.padding,.update,.radio:hover{
  cursor: pointer;
}
.times{
  color: red;
  font-size: 1em;
  &:hover{
    color: tomato;
  }
}
.check{
  color: #1ab7d1;
  font-size: 1em;
  &:hover{
    color: #1ab7d1;
  }
}
.form-group input[type=radio][name=titles]{
  background-color: #00B7FF;
  border-color: #4c4;
}
